html { font-size: 22px; }
body { padding: 1rem; }
.box {
  background-color: dodgerblue;
  color: white;
  padding: 1rem;

  
}
.boxes{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 1rem;
    padding: 10px;
    
  
}
.boxes> div {
   
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
