body {
    padding: 1rem;
    font-size: 12px;
}
    

.box {
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
}

#boxes{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 10rem auto 30rem;
    grid-template-rows: auto auto auto;
    grid-gap: .1rem;
   
    
  
}
#boxes> div {
    text-align: center;
    padding: 20px;
    font-size: 22px;
  }

.box1{
    grid-column: 1 / span 3;
}
